header{
    background-color: #001682;
    padding: 5px;
}

.navbar_ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center; 

    li:nth-child(2) {
        margin-left: auto;
    }  
}

.logo{
width: 160px;
}

.menu-link {
    margin-right:40px;
    color: white;
    margin-top:30px;
    white-space: nowrap;
    padding-bottom: 25px;
    size: 2rem;
    font-weight: bold;
    text-decoration: none;
}

.inactive-link {
    margin-right:70px;
    color: white;
    margin-top:30px;
    white-space: nowrap;
    padding-bottom: 25px;
    size: 2rem;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #94c11E;
}


@media (min-width: 768px) and (max-width: 1024px) {
    header {
        padding: 15px;
    }

    img {
        width: 60px;
      }

    .logo {
    padding-left: 30px;
    }
}

@media (max-width: 426px) {
    .menu-link {
        margin-right: 10px;
    }

    img {
        width:40px;
    }

    header{
        padding: 10px;
    }
    
}