@mixin block-section($marginTop) {
    margin-top: $marginTop;
    background: rgba(255, 255, 255, 0.6);
    padding: 2.5rem;
    width: 70%;
    height: fit-content;
    border-radius: 20px;
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
    text-align: center; 
}

@mixin background-page($height){ 
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url('../../../public/assets/images/backgroundImage.jpg');
    background-size: cover;
    height: $height;
    padding: 5px;

}

