@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/mixins';

.social_activities_main {
    @include background-page(190vh)
}

.social_activities_list {
    margin-bottom: 54px;
    margin-top: 20px;
}

.social_activities_link {
    color: $white-color;
    text-decoration: none;
    background-color: $blue-color;
    padding: 10px;
    border-radius: 20px;
    border: solid 3px $white-color;
}

.social_activities_link:hover {
    border: solid 3px $apple-green-color;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .section {
        margin-top: 5px;
      }
}
@media (max-width: 426px) {
    .section {
      margin-top: -38px;
    }
  }
